* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*banner*/

#banner {
    height: 100vh;
}


/* Slider */

#slider {
    margin: -38% auto 0 0.3%;
    z-index: -1;
    padding: 6px;
    width: 67%;
}

.shop-now-btn {
    display: block;
    position: absolute;
    z-index: 2;
    width: 20%;
    background-color: #51cefc;
    font-size: 38px;
    color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    border-radius: 6px;
    border: none;
    margin: 48% auto 0 2%;
    cursor: pointer;
    transition: 0.4s;
}

.shop-now-btn:hover {
    background-color: #3555e6;
}

.new-img {
    margin-top: 5%;
    width: 28%;
    margin-left: 70%;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}

.special-img {
    margin-top: 5%;
    width: 28%;
    margin-left: 70%;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}

.new-img:hover {
    transform: translateY(-9px);
}

.special-img:hover {
    transform: translateY(-9px);
}